# Variáveis de ambiente - NUNCA COMMITAR!
.env
.env.local
.env.*.local
functions/.env

# Dependencies
node_modules/
functions/node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.vercel
